## .NET Core / C# gitignore
[Bb]in/
[Oo]bj/
[Pp]ublish/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Test output prints
*.xps
*.pdf.tmp
